:root {
  --blog-light-blue: #034078;
  --blog-dark-blue: #013464;
  --light-mode-three: #f5ebe0;
  --main-white: #fafafa;
}
body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}
body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
  /* display: none; --> to hide the scrollbar*/
}
body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}
.dark-bg {
  background: linear-gradient(
    to right,
    var(--blog-light-blue),
    var(--blog-dark-blue)
  );
  color: var(--main-white);
}
.light-bg {
  background: var(--light-mode-three);
  color: black;
}
.bold {
  font-weight: 500;
}
.underlined {
  text-decoration: underline;
}
.title {
  text-align: center;
  margin: 2rem;
  padding: 1rem;
}
.title {
  font-size: calc(2rem + 3vw);
  font-family: Lato, sans-serif;
}
.subtitle {
  font-size: 4rem;
  font-family: Raleway, sans-serif;
}
.articles-section {
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  width: 80%;
  max-width: 102.4rem;
}
.article {
  margin: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--main-white);
  color: black;
}
.article__title {
  font-size: 3rem;
  margin: 2rem 0 4rem;
  padding: 2rem 2rem 1rem;
}
.article__description {
  padding: 0 2rem 3rem;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
.supply-chain-img,
.boat-img {
  display: block;
  margin: 1rem 3rem;
  width: 40rem;
}
.oclock-logo {
  display: block;
  margin: 3rem 1rem 1rem;
  width: 35%;
  max-width: 10rem;
}
.bureau-img {
  display: block;
  margin: 2rem 2rem 1rem;
  width: 35%;
  max-width: 25rem;
}
.bg-title-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 32rem;
  margin: 0 -0.5rem 4rem;
  border-radius: 0.5rem 0.5rem 0 0;
  color: var(--main-white);
  font-family: "Vast Shadow", cursive;
  font-size: calc(1rem + 4vw);
  text-align: center;
}
.olduvai-bg {
  background-image: url(../subpages/Blog/S01/assets/grotte-vue-sur-mer.jpg);
}
.code-bg {
  background-image: url(../subpages/Blog/S02/assets/code.jpg);
}
.linux-ico,
.HTML-CSS-logos,
.pair-prog-img {
  display: block;
  margin: 1rem 2rem;
  width: 35%;
  max-width: 15rem;
}
.pair-prog-img {
  max-width: 20rem;
}
.guess-number,
.dice-game,
.pixel-art {
  display: block;
  margin: 0 auto 2rem auto;
  width: 50%;
  border-radius: 0.5rem;
  animation: shadow 1s alternate infinite;
}
@keyframes shadow {
  100% {
    box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 6px 0px;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
@media screen and (max-width: 800px) {
  .article__title {
    margin: 0rem -0.5rem 2rem;
  }
  .supply-chain-img,
  .boat-img,
  .bureau-img {
    float: none;
    margin: 0 auto 1rem;
    width: 80%;
  }
  .oclock-logo {
    max-width: 10rem;
  }
  .articles-section {
    width: 95%;
    margin: 2rem auto;
  }
  .article__description {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .olduvai-bg,
  .code-bg {
    background-image: none;
    color: black;
    height: auto;
    margin: 1rem 0 4rem;
  }
  .guess-number,
  .dice-game,
  .pixel-art {
    width: 70%;
  }
}
