*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-white: rgb(240, 240, 240);
  --main-red: rgb(97, 1, 1);
  --light-red: #be3144;
  --main-blue: #45567d;
  --main-gray: rgb(48, 45, 45);
  --light-gray: rgb(115, 110, 110);
  --dark-gray: rgb(37, 34, 34);
  --main-black: rgb(34, 31, 31);
  --height-navbar: 50px;
  --height-navbar-mobile: 50px;
}
body {
  min-height: 100vh;
  font-family:  'Poppins', sans-serif;
  overflow: overlay;
}
body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 5px;
}
h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
}
p {
  font-size: 30px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}

/********* navbar ************/
#navbar {
  height: var(--height-navbar);
  width: 100%;
  background-color: var(--main-red);
  margin-top: 0;
  position: fixed;
  box-shadow: 0 2px 5px rgb(0 0 0  / 50%);
  transition: 0.3s;
  z-index: 1;
}
#navbar-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}
#navbar-links > li {
  height: 100%;
  font-size: 1.4rem;
  display: flex;
}
#navbar-links a {
  padding: 0 20px;
  line-height: var(--height-navbar);
  position: relative;
  transition: color 0.3s;
  color: var(--main-white);
}
/* Trick to avoid using "transition: background-color" */
/* that is using "paint" css function which is time consuming */
#navbar-links a::after {
  content: ""; /* to not forget if no text nor image !!! */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle, var(--main-gray) 0%, var(--main-black) 100%);/* var(--main-gray); */
  opacity: 0;
  z-index: -1;
  color: var(--main-red);
  transition: opacity 0.3s;
}
@media (hover: hover) {
  #navbar-links a:hover::after {
    opacity: 1;
  }
  #navbar-links a:hover {
    color: var(--light-red);
  }
}

/************ Welcome section ***************/
.scroll-section {
  min-height: 100vh;
  background: linear-gradient(to right, var(--main-gray), var(--main-black)) ;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
#welcome-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#welcome-section > h1 {
  position: relative;
  font-size: 3.5rem;
  color: transparent;
  -webkit-text-stroke: 0vw var(--main-white);
  padding-right: 2px;
}
#welcome-section > h1::before {
  content : attr(data-text); /* to not forget !!! */
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--main-white);
  /* -webkit-text-stroke: 0vw var(--main-white); */
  border-right: 2px solid var(--main-white);
  overflow: hidden;
  animation: appear-to-right 4s linear forwards;
}
@keyframes appear-to-right {
  0%,10% {
    width: 0;
  }
  60%,100% {
    width: 100%;
  }
  100% {
    border-right: none;
  }
}

#welcome-section > p {
  color: var(--light-red);
  font-style: italic;
  font-weight: 400;
  animation: appear 4s linear forwards;
}
@keyframes appear {
  0%,55% {
    opacity: 0;
  }
  80% {
    transform: opacity(1);
  }
}

#CV-icon {
  position: relative;
  top: 60px;
  width: 200px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  animation: blur-appear 5s linear forwards;
}
@keyframes blur-appear {
  0%,60% {
    opacity: 0;
  }
  100% {
    transform: opacity(1);
  }
}


/************* trick to present the project-section at the ******************/
/************* right place when clicking on "Work" button *******************/
/************* when navbar doesn't have a hidding transformation ************/
/* #carre {
  position: relative;
  bottom: var(--height-navbar);
} */

/************************* PROJECT SECTION ***********************/
#projects {
  display: flex;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(45 60 101),rgb(0 23 85)) ;
}
.projects-header {
  font-size: 2.3rem;
  font-weight: 700;
  border-bottom: solid 1px;
  line-height: 1.5;
  max-width: 544px;
  margin: 4rem auto 0 auto;
}
.project-flexbox {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}
.project-flexbox a {
  color: var(--main-white);
}
.project-tile {
  background-color: var(--main-black);
  border-radius: 5px;
  width: 320px;
  height: 320px;
  margin: 1rem;
  box-shadow: 0 0 45px rgb(0 0 0 / 50%);
  transition: transform 0.2s ease-in-out;
}
.project-title {
  font-size: 1.2rem;
  padding: 5px;
}
.project-tile > img {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  width: 100%;
  height: calc(100% - 56px);
}
.code {
  color: var(--main-black);
  font-weight: 900;
}
@media (hover: hover) {
  .project-tile:hover {
    box-shadow: 0 0 45px rgba(90, 59, 6, 0.6);
    transform: scale(1.1);
  }
  .project-tile:hover .code {
    color: var(--light-red);
  }
}

/********************************* BLOG SECTION **************************/
#blog {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #95d1d3, #56A3A6);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}
#blog h1, #blog h2 {
  color: #1f1f1f;
  
}
.bold {
  font-weight: 700;
}
.title, .subtitle {
  text-align: center;
  margin: 1rem;
}
.title {
  font-size: 4rem;
  font-family: Lato, sans-serif;
}
.subtitle {
  font-size: 2.5rem;
  font-family: Raleway, sans-serif;
}
.articles-section {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: left;
}
.articles-section a {
  color: #1f1f1f;
}
.article {
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
}
.article__title {
  padding: 1rem 2rem 1rem;
  font-size: 1.6rem;
}
.article__description {
  padding: 0 2rem 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

/*************************** CONTACT SECTION ***************************/
#contact {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, #db8404, #bc7000) ;
}
.contact-header {
  font-size: 2rem;
}
.contact-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.contact-links a {
  color: var(--main-white);
}
.contact-details {
  font-size: 1.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.1s ease-out;
  padding: 18px;
}
@media (hover: hover) {
  .contact-details:hover {
    transform: scale(1.1);
  }
}


/* footer */
footer {
  color: var(--main-white);
  background: linear-gradient(to right, rgb(57, 62, 60), rgb(57, 62, 70)) ;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
  border-top: solid 3px var(--main-red);
  height: 50px;
  font-size: 0.9rem;
}


/* media queries */
@media screen and (max-width: 760px) {
  .project-title {
    font-size: 0.9rem;
    padding: 8px;
  }
  .project-tile {
    min-width: 280px;
    min-height: 280px;
    width: 40vw;
    height: 40vw;
  }
}
@media screen and (max-width: 680px) {
  /**** navbar ****/
  #navbar {
    height: var(--height-navbar-mobile);
  }
  #navbar-links {
    justify-content: space-around;
    padding: 0;
  }
  #navbar-links > li {
    font-size: 1.2rem;
  }
  /**** welcome section ****/
  #welcome-section > h1 {
    font-size: 2.6rem;
    margin: 10px 20px;
  }
  /**** project section ****/
  #carre {
    bottom: var(--height-navbar-mobile);
  }
  .projects-header {
    font-size: 1.8rem;
    margin: 1.5rem auto;
    padding: 10px;
  }
  .project-flexbox {
    flex-direction: column;
    max-height: 80%;
    margin-top: 0;
  }
  .project-tile {
    min-width: 250px;
    min-height: 250px;
    max-width: 80%;
    max-height: 80%;
    margin: 10px;
  }
  /**** contact section ****/
  .contact-links {
    flex-direction: column;
    margin-top: 10px;
  }
  .contact-header > h1 {
    margin-bottom: 2.5rem;
    font-size: 3rem;
  }
  .contact-details {
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.1s ease-out;
    padding: 5px;
  }
  /**** footer ****/
  footer {
    height: 50px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width:500px) {
  #navbar-links li {
    width: 25%;
  }
  #navbar-links a {
    width: 100%;
    margin: auto;
    text-align: center;
  }

}
@media screen and (orientation: landscape) and (max-height: 600px) {
  /**** navbar ****/
  #navbar {
    height: var(--height-navbar-mobile);
  }
  #navbar-links > a {
    padding: 15px;
  }  /**** welcome section ****/
  #welcome-section > h1 {
    font-size: 2.4rem;
    margin: 10px 20px;
  }
  #CV-icon {
    top: 20px;
    width: 160px;
  }
  /**** project section ****/
  #carre {
    bottom: var(--height-navbar-mobile);
  }
  .projects-header {
    font-size: 1.8rem;
    margin: 1.5rem auto;
    padding: 10px;
  }
  .project-flexbox {
    flex-direction: column;
    max-height: 80%;
    margin-top: 0;
  }
  .project-tile {
    min-width: 250px;
    min-height: 250px;
    max-width: 70vh;
    max-height: 70vh;
    margin: 0;
  }
}

