@import './layout/background';
@import './layout/form';
@import './layout/identitypic';
@import './base/typographie';
@import './utils/functions';
@import './utils/mixins';
@import './utils/variables';
@import './components/progressbar';

// BACKGROUND
.bg {
  position: fixed; 
  height: 100vh;
  width: 100%;
  // ADD opacity on the background image
  &::before {
    content: "";
    background-image: url('../assets/grotte.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.03;
  }
}

// Format the whole grid of the CV
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-auto-rows: auto;
  margin: 0 80px;
  text-align: justify;
  column-gap: 20px;
  &__c1 {
    background: $middleblue;
    color: $whitefontcolor;
    padding: 20px 40px 20px 40px;
  }
  &__c2 {
    padding: 20px;
    color: $darkbluefontcolor;
    &__grid {
      padding: 1.5rem 0;
      display: grid;
      &--bottom {
        grid-area: bottom;
      }
      grid-template-areas: 
      '. .'
      'bottom bottom';
      margin: 0;
      div {
        padding: 0;
      }
      &--left {
        text-align: left;
      }
      ul {
        text-align: right;
      }
    } 
  }
  &__realisation {
    padding-top: 0;
  }
  &--titre {
    padding-top: 40px;
  }
  &--flex-center {
    justify-content: center;
  }
  &--border-bottom {
    border-bottom: $darkbluefontcolor solid 1px;
  }
  &--flex-center,
  &__c2.grid--titre {
    display: flex;
    align-items: center;
  }
} 

@media screen and (max-width: 1524px) {
  .grid {
    grid-template-columns: 240px 1fr;
    margin: 0 60px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 0.9rem;
  }
  .grid {
    grid-template-columns: 200px 1fr;
    margin: 0 40px;
    &__c1,
    &__c2 {
      padding: 20px;
    }
  }
  .pic {
    height: 140px;
  }
}

@media screen and (max-width: 860px) {
  body {
    font-size: 0.8rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  .grid {
    grid-template-columns: 160px 1fr;
    margin: 0 10px;
    &__c1,
    &__c2 {
      padding: 15px;
    }
  }
  .pic {
    height: 120px;
  }
}

@media screen and (max-width: 700px) {
  ul {
    padding-inline-start: 0px;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  li {
    margin: 0;
  }
  #Profil,
  #Hobbies {
    padding: 20px 10px 10px 10px;
  }
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    .language {
      grid-template-columns: 1fr;  
    }
    grid-auto-rows: auto;
    margin: 0 10px;
    text-align: justify;
    &__c1 {
      padding: 25px 10px 0px 10px;
    }
    &__c2 {
      padding: 5px 10px 5px 10px;
      &__grid {
        padding: 0;
      }
    }
    &__c1 {
      background-color: transparent;
      color: $darkbluefontcolor;
      display: flex;
      justify-content: space-between;
      h3 {
        margin: 0;
        font-size: 1.3rem;
      }
      p {
        margin: 0;
        font-size: 1.1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }
    &--titre {
      display: flex;
      justify-content: center;
    }
    &__c2.grid--titre {
      justify-content: left;
    }
    &__realisation {
      padding: 2px 10px;
    }
  }
  .pic,
  .delPhone {
    display: none;
  }
  .clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    p {
      padding: 0;
    }
    &:hover {
      display: block;
      p {
        padding-bottom: 7px;
      }
    }
  }
}