// MIXINS
@mixin lb ($color) {
    width: 10em;
    height: 1em;
    border-radius: 0.5em;
    background: $color;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
  }
  @mixin loadbar ($color) {
    @include lb($color);
    position: relative;
  }
  @mixin loadbarperc ($lg) {
    $color: map-get($map: $progressbarcolor, $key: $lg);
    @include lb($color);
    position: absolute;
    content: "";
    transform: scale(0,1);
    // start progress bar from the left (standard : middle) 
    transform-origin: left center;
    transition: transform 330ms ease-in-out;
  }